html{
  overflow-x: hidden;
}

body {
height: 100%;
width: 100%;
overflow-x: hidden;

}


/*a:link {
}

a:visited {
color: purple;
}

a:hover {
text-decoration: none;
}

a:active {
color: purple;
}*/

@media (max-width: 520px) {
}
@media (min-width: 520px) and (max-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1280px) {
}
@media (max-width: 350px) {
  .about_us_text {
    margin-left: -30px;
}}  

/* Intro */

.intro {
    size: 100%;
    width: 100%;
    height: 550px;
    display: block;
    background: url(../images/bg1.jpg) no-repeat center;
}

.intro-about-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px auto;
    width: 1250px;
    height: 150px ;
    background: url(../images/logo1.png) no-repeat ;
    background-position: left bottom;
}
@media (max-width: 630px) {
  .intro-about-logo {
    display: inline-block;
    margin-left: 33%;

}}
@media (max-width: 450px) {
  .intro-about-logo {
    margin-left: 30%;
}}
@media (max-width: 350px) {
  .intro-about-logo {
    margin-left: 25%;
}}

  .menu{
    margin:0 0 25px 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 460px;
    height: 50px ;
    background: url(../images/navi2.png) no-repeat center;
}
@media (max-width: 630px) {
  .menu {
    display: inline-block;
    background: none;
    margin:200px 0 0 50px;
    padding-bottom: 50px;
}}

  .menu li{
    list-style: none;
 }

@media (max-width: 630px) {
  .menu li {
    padding-top: 15px;
}}

.menu li a {
  width: 52px;
  height: 13px;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 13.54px;
  text-decoration: none;
}

@media (max-width: 630px) {
  .menu li a{
    font-size: 26px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}}

.contacts_street{
    margin-left: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 475px;
    height: 60px ;
    }
/*@media (max-width: 1450px) {
  .contacts_street {
    margin: 100px 0 0 250px;

}}
@media (max-width: 900px) {
  .contacts_street {
    margin: 100px 0 0 100px;

}}
@media (max-width: 450px) {
  .contacts_street {
     margin-left: 25% ;
}}*/


.contacts_street h3{
    display: flex;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.phone_number{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin-top: -30px;        
    background: url(../images/tel.png) no-repeat ;
    background-position: left ;
}

.about_us{
    margin: 0 auto;
    display: flex;
    max-width: 1920px;
    height: 100%;
    background-image:url(../images/bg2.png);
}

@media (max-width: 800px) {
  .about_us {
    display: inline-block;
   
}}

  .about_us_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px 0 0 310px;
    max-width: 800px;
  }

@media (max-width: 1450px) {
  .about_us_info {
    margin: 100px 0 0 240px;

}}

@media (max-width: 1250px) {
  .about_us_info {
     margin: 100px 0 0 140px;
}}

@media (max-width: 900px) {
  .about_us_info {
     margin: 100px 0 0 10px;
   }}

@media (max-width: 800px) {
  .about_us_info {
     display: inline-block; 
     margin: 10px 25% 0 25%;
}}

@media (max-width: 480px) {
  .about_us_info {
     margin: 10px 10% 0 15%;

}}

  .about_us_info h1{
     margin-left: 175px;
     color: #db1515;
     font-family: 'Exo 2', sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 19.27px;
     text-transform: uppercase;
}
@media (max-width: 1450px) {
  .about_us_info h1 {
    margin-left: 100px

}}
@media (max-width: 1250px) {
  .about_us_info h1 {
     margin-left: 50px

}}
@media (max-width: 350px) {
  .about_us_info h1 {
     margin-left: 25px

}}

p{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.gallery {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1920px;
  background: url(../images/bg2.jpg) no-repeat ;
  }

.block_photo {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  }

@media (max-width: 1181px) {
  .block_photo {
    justify-content: space-around;
    align-items: center;
}
}

.first_column {
display: flex;
flex-direction: column;
}

.flex-element {
    margin: 0 0 28px 28px;
    align-self: center;
}

.flex-element_2 {
    align-self: center;
    margin-left: 30px;
}
@media (max-width: 1181px) {
.first_column {
    padding-top: 20px;
}

.flex-element_2 {
    padding-left: 21px;
}
}

@media (max-width: 695px) {
  .first_column {
    display: slider;
}

  .flex-element_2 {
    padding-left: 21px;
}
}

.about_us_contact{
    width: 50%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 800px) {
  .about_us_contact {
    display: inline-block;
    margin: 10px 25% 0 25%;
}}
@media (max-width: 620px) {
  .about_us_contact {
    margin: 10px 10% 0 15%;
}}
@media (max-width: 480px) {
  .about_us_contact {
    margin: 10px 10% 0 5%;
}}

.location{
    margin: 150px 0 0 140px;
  }

@media (max-width: 1450px) {
  .location {
     margin: 100px 0 0 140px;
}}
@media (max-width: 1250px) {
  .location {
     margin: 100px 0 0 40px;
}}
@media (max-width: 900px) {
  .location {
     margin: 100px 0 0 10px;
}}
@media (max-width: 800px) {
  .location {
     margin: 50px 0 0 0;
}}
@media (max-width: 480px) {
  .location {
     margin-left: 50px;
}}
@media (max-width: 400px) {
  .location {
     margin-left: 25px;
}}
@media (max-width: 360px) {
  .location {
     margin-left: 10px;
}}
@media (max-width: 340px) {
  .location {
     margin-left: -12px;
}}

  
.footer {
    width: 100%;
    height: 375px;
    background: url(../images/footer.jpg) no-repeat center;
}
.footer_logo {
    display: flex;
    margin: 0 auto;
    width: 465px;
    height: 290px ;
    background: url(../images/logo1.png) no-repeat ;
    background-position: left bottom;
}
.footer_img{
    margin-top: 150px;
}
.footer_tel{
    margin: 150px 0 25px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 900px) {
  .footer_tel {
    margin: 150px 0 25px 180px;

}}
.footer_tel h2{
    color: #db1515;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer_tel h3{
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }



